{
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 150,
      "tabWidth": 2
    }],
    "quotes": ["error", "single"],
    "quote-props": ["error", "as-needed"],
    "semi": "error",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error", "always", {
      "exceptions": ["{}", "[]", "()", "empty"]
    }]
  },
  "overrides": [
    {
      "files": ["plugins/pluginInterface.js"],
      "plugins": ["jsdoc"],
      "extends": ["plugin:jsdoc/recommended"],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    },
    {
      "files": [
        "tests/**/*.spec.js"
      ],
      "globals": {
        "expect": "writeable",
        "esmock": "writeable",
        "sinon": "writeable"
      },
      "rules": {

      }
    }
  ]
}
