{
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "semi": "error",
    "quotes": ["error", "single"],
    "quote-props": ["error", "as-needed"]
  },
  "overrides": [
    {
      "files": [
        "tests/**/*.spec.js"
      ],
      "globals": {
        "expect": "writeable",
        "esmock": "writeable",
        "sinon": "writeable"
      },
      "rules": {

      }
    }
  ]
}
